# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
dist/
*.egg-info/

# Виртуальное окружение
.venv/
venv/
env/

# IDE
.vscode/
.idea/
*.swp
*.swo

# ОС
.DS_Store
Thumbs.db

# Артефакты сборки
apartment.obj
volumes.xlsx

# Streamlit
.streamlit/secrets.toml

# Jupyter
.ipynb_checkpoints/